.btn, .btn-radios {
	margin: 0 5px;
	color:#fff;
	text-align: center;
	font-size: 18px!important;
	display: inline-block;
	vertical-align: middle;
}
.btn{
	padding: 15px 30px;
	background-color: #009688;
	border-radius:3px;
}

.btn-radios{
	border-radius: 25px;
	padding: 13px 15px;
}

.btn:hover{
	box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
	background-color: rgba(96,125,139,.4);
	color:#fff;
}

.btn-disabled{
	cursor: not-allowed;
	opacity: .3;
}

.btn.mdi{
	display: inline-block;
	font-size: inherit;
	text-rendering: auto;
}