.card{
	width: 100%;
	height: auto;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3), -0.2px -0.2px 0.6px rgba(0, 0, 0, 0.2) ;
	padding: 25px 25px;
	border-radius: 8px;

}
.card-title {
	font-size: 25px;
	font-weight: 600;
}
@media (min-width: 751px){
	.card-tittle {
		font-size: 35px;
	}
}
.card-content {
	text-align: justify;
}

