.m-red{background-color: #F44336!important;}
.m-pink{background-color: #E91E63!important;}
.m-purple{background-color: #9C27B0!important;}
.m-deep-purple{background-color: #673AB7!important;}
.m-indigo{background-color: #3F51B5!important;}
.m-blue{background-color: #2196F3!important;}
.m-light-blue{background-color: #03A9F4!important;}
.m-cyan{background-color: #00BCD4!important;}
.m-teal{background-color: #009688!important;}
.m-green{background-color: #4CAF50!important;}
.m-light-green{background-color: #8BC34A!important;}
.m-lime{background-color: #CDDC39!important;}
.m-yellow{background-color: #FFEB3B!important;}
.m-amber{background-color: #FFC107!important;}
.m-orange{background-color: #FF9800!important;}
.m-deep-orange{background-color: #FF5722!important;}
.m-brown{background-color: #795548!important;}
.m-grey{background-color: #9E9E9E!important;}
.m-blue-grey{background-color: #607D8B!important;}