.banner {
 	width: 100%;
 	height: 325px;
}
.caption {
	left: 0%;
	top: 100%;
	text-align: center;
	color: #000;
}
.caption a.border {
	color: #fff;
	padding: 15px;
	font-size: 25px;
	letter-spacing: 10px;
	box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, .2)
}
.caption a.border:hover{
	box-shadow: 1px 2px 20px rgba(0,0,0, 0.5);
	border-radius: 6px;
}


.banner-title {
	color: #fff;
	top: 50%;
	font-weight: 700;
	font-family: "JosefinSans";
}

.title{
	font-size: 50px;
	font-family: "JosefinSans";
	font-weight: 700;
}


.center {
	text-align: center;
}

.mdi-50px{
	font-size: 50px;
}
.mdi-100px{
	font-size: 100px;
}

table thead{
	border-radius: 6px;
}
.tables {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	box-shadow: 0.5px 1px 10px rgba(0, 0, 0, 0.4);
	border-radius: 6px;
}
table, th, td, tr {
	padding: 10px 15px;
}
thead th {
	font-family: "JosefinSans";
	color: #fff;
	font-weight: 700;
}
tbody tr{
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
	font-family: "roboto";
	font-weight: 700;
}








.margin-bottom{
	margin-bottom: 16px;
}

.border-bottom li {
	color: #000;
	border-bottom: 1.5px solid rgba(0, 0, 0, .2);
	padding: 10px 10px;
}

.ul-border {
	color: #000;
	border: 1px solid #000;
}
.ul-border li{
	padding: 10px 10px;
	border-bottom: 1.5px solid rgba(0, 0, 0, .2) ;
}
.item-active{
	background-color: black;
	color: #fff;
}
.hoverable li:hover{
	background-color: rgba(0, 0, 0, .1)
}
.hoverable li.item-active:hover{
	background-color: black;
	color: #fff;
}


/* menu */
.btndrop{
	color: white;
	border: none;
	cursor: pointer;
}
.dropdown{
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 130px;
	box-shadow: 1px 8px 16px 0px rgba(0, 0, 0, .2);
	z-index: 1;
}
.dropdown-content a{
	color: black;
	text-decoration: none;
	display: block;
}
.dropdown-content li{
	width: 100%;
	margin: auto;
}
.dropdown-content li a:hover{background-color: rgba(0, 0, 0, .2);}
.dropdown:hover .dropdown-content{display: block;}

.underline {
	position: relative;
}
.underline:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background-color: #fff;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.underline:hover:before{
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}


.footer-page-norm {
	height: 325px;
	color: #fff;
}
.footer-page-norm .mdi {
	color: #fff;
	font-size: 27px;
	top: 6px;
	padding-right: 4px; 
	position: relative;
}
.footer-page-norm a {
	color: #fff;
}