@font-face {
	font-family: "JosefinSans";
	src: url("../fonts/josefinsans/JosefinSans-Thin.ttf");
	font-weight: 100;
}

@font-face {
	font-family: "JosefinSans";
	src: url("../fonts/josefinsans/JosefinSans-Light.ttf");
	font-weight: 300;
}
@font-face {
	font-family: "JosefinSans";
	src: url("../fonts/josefinsans/JosefinSans-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: "JosefinSans";
	src: url("../fonts/josefinsans/JosefinSans-SemiBold.ttf");
	font-weight: 600;
}
@font-face {
	font-family: "JosefinSans";
	src: url("../fonts/josefinsans/JosefinSans-Bold.ttf");
	font-weight: 700;
}



@font-face {
	font-family: "roboto";
	src: url("../fonts/roboto/Roboto-Thin.ttf");
	font-weight: 100;
}
@font-face {
	font-family: "roboto";
	src: url("../fonts/roboto/Roboto-Light.ttf");
	font-weight: 300;
}
@font-face {
	font-family: "roboto";
	src: url("../fonts/roboto/Roboto-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: "roboto";
	src: url("../fonts/roboto/Roboto-Medium.ttf");
	font-weight: 500;
}
@font-face {
	font-family: "roboto";
	src: url("../fonts/roboto/Roboto-Bold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: "roboto";
	src: url("../fonts/roboto/Roboto-Black.ttf");
	font-weight: 900;
}