input[type="text"], 
input[type="number"],
input[type="email"],
input[type="password"], 
input[type="tel"],
textarea  {
	width: 100%;
	border: none;
	padding: 10px;
	transition: border 0.3s;
	border-bottom: 3px solid rgba(0, 0, 0, .3)
}
input[type="text"]:focus, 
input[type="number"]:focus,
input[type="email"]:focus,
input[type="password"]:focus, 
input[type="tel"]:focus,
textarea:focus  {
	outline: none;
	border-bottom: solid 3px teal
}
texarea {
	width: 100%;
	height: 100px;
}

label {
	font-family: JosefinSans;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 17px;
}

.validation:focus:invalid {
	border-color: red;
}
.validation:focus:valid {
	border-color: green;
}

[type="checkbox"],
[type="radio"] {
	width: 16px;
	height: 16px;
	position: relative;
	top: 2px;
}

input[name="search"]{
	border: none;
	width: 70px;
	-webkit-transition: width: 0.4s ease;
	transition: width 0.5s ease;
	background-color: transparent;
	color: white;
	border-bottom: white solid 2px;
}
input[name="search"]:focus{
	background-color: rgba(255, 255, 255, .5);
	width: 100%;
	border-bottom: white solid 2px;
}
input[name="search"]::placeholder{
	color: white;
	font-family: JosefinSans;
	font-weight: 400;
}