* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: roboto;
	font-weight: 400;
}
.section {
	padding: 25px 0;
}
.divider {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0 50px;
}
a{text-decoration: none;}
.container {
	max-width: 1170px;
	width: 90%;
	margin: 0 auto;
}
@media (min-width: 751px) {
	.container {
		width: 85%;
	}
}
@media (min-width: 993px) {
	.container {
		width: 70%;
	}
}

.row {
	margin: 0 2px;
	padding: 1px 0;
}


.row:after{
	content: "";
	display: table;
	clear: both;
}

.col {
	float: left;
	vertical-align: top;
	min-height: 1px;
	padding: 10px 10px;
}

.col.s1{width: 8.3333% }
.col.s2{width: 16.6666%}
.col.s3{width: 25%}
.col.s4{width: 33.3333%}
.col.s5{width: 41.6666%}
.col.s6{width: 50% }
.col.s7{width: 58.3333%}
.col.s8{width: 66.6666%}
.col.s9{width: 75%}
.col.s10{width: 83.3333%}
.col.s11{width: 91.6666%}
.col.s12{width: 100% }

@media (min-width: 751px) {
	.col.m1{width: 8.3333% }
	.col.m2{width: 16.6666%}
	.col.m3{width: 25%}
	.col.m4{width: 33.3333%}
	.col.m5{width: 41.6666%}
	.col.m6{width: 50% }
	.col.m7{width: 58.3333%}
	.col.m8{width: 66.6666%}
	.col.m9{width: 75%}
	.col.m10{width: 83.3333%}
	.col.m11{width: 91.6666%}
	.col.m12{width: 100% }
}
@media (min-width: 993px){
	.col.l1{width: 8.3333% }
	.col.l2{width: 16.6666%}
	.col.l3{width: 25%}
	.col.l4{width: 33.3333%}
	.col.l5{width: 41.6666%}
	.col.l6{width: 50% }
	.col.l7{width: 58.3333%}
	.col.l8{width: 66.6666%}
	.col.l9{width: 75%}
	.col.l10{width: 83.3333%}
	.col.l11{width: 91.6666%}
	.col.l12{width: 100% }
}

.grid {
	border: 1px solid rgba(33, 150, 243, 0.5);
	border-radius: 5px;
}