.pagination{
	display: inline-block;
	width: auto;
	overflow: hidden;
}
.pag-item{
	text-align: center;
	padding: 10px 15px;
	color: #000;
	float: left;
}
.prev, .next{
	text-align: center;
	padding: 9px 14px;
	color: #000;
	border: 0.10px solid rgba(0, 0, 0, .2);
	transition: border-bottom 1s
}
.pag-item.active{
	color: white;
}
.pag-item:hover{
	color: #000;
	background-color: rgba(0, 0, 0, .2);
}